<h1>Editing Chore</h1>

<% form_for(@chore) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <p><%= form.submit 'Update' %></p>
<% end %>

<p>
  <%= link_to 'Show', chore_path(@chore) %>
  |
  <%= link_to 'Back', household_chores_path(@chore.household) %>
</p>
